   body {font-family: Calibri, sans-serif;}
     
    .header-container {display: grid;
    grid-template-columns: 25% 50% 25%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-image: url(images/milky-way-contactUsg.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 300px;
    }
    
     
    #logo {float: left;
    position: relative;
    margin: 10px 15px 15px 10px;}
    
    .topnav {
    overflow: hidden;
   }
  
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
    
    .topnav a.active {
        background-color: #BF7AB4;
        color: white;
    }
    
    
    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
     }  
    
    .topnav .icon {
        display: none;
    }
    .title {
    text-align: center;
    color: #f2f2f2;
    padding-top: 3em;
    font-size: 4em;
    
    }
     
     .title, h1, h2, h3 {
    font-family: 'Space Mono', monospace; 
     }
     
     h3 {color: #731A6D;}
   
         #searchbarTextbox {display: block;
            float: right;
            padding: 6px;
            border: none;
            margin-top: 8px;
            margin-right: 16px;
            font-size: 17px;
        }
     
     .searchbar button {
         float: right;
         
         margin-top: 8px;
         margin-right: 16px;
        font-size: 17px;
        border: none;
        cursor: pointer;
         background-color: #BF7AB4;
         color: #f2f2f2;
     }
     
    .searchbar:hover {
        background: #ccc;
        }
    
    .main {display: grid;
        grid-template-columns: 50% 50%;
        margin: auto;
        text-align: center;
        justify-content: center;}
     
     .contactUsHeading {grid-column: 1/3;
     color: #731A6D;
     padding: 1em;}
     
     .contactUsDetails {grid-column: 1/2;
     color: #731A6D;
     padding: 1em;}
     
     .contactUsImage {
         grid-column: 2/3;
         background-image: url(images/tree-contactUs.jpg);
         background-repeat: no-repeat;
         background-size: 100% 100%;
         max-height: 100%;
         max-width: 80%;
         padding: 4em;
     }
     
     form input[type=text], select {
     width: 100%;
     padding: 12px 20px;
     margin: 8px 0;
     display: inline-block;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;
   }
     
     input[type=submit] {
  width: 100%;
  background-color: #BF7AB4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border-color:  #030526;
  border-radius: 4px;
  cursor: pointer;
}
     
       input[type=reset] {
  width: 100%;
  background-color: #BF7AB4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
 border-color:  #030526;
  border-radius: 4px;
  cursor: pointer;
}
     
     input[type=submit]:hover {
     background-color: #f2f2f2;
      color: #030526;
    }
     
      input[type=reset]:hover {
     background-color: #f2f2f2;
      color: #030526;
    }

  form {
  border-radius: 5px;
  background-color: #f2f2f2;
 border-color:  #030526;
  padding: 20px;
  }
     
     textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}
     
     label {display: block;
         text-align: left;
     }
    
     
     
     .footer {display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        padding-top: 1em;
        margin: auto;
        text-align: center;
        justify-content: center;
     }
    
    .webAcc, .footerLinks, .socialMedia {background-color: #030526;
    color: #f2f2f2;
     }
     
    .footerLinks a {display: inline;
    text-decoration: none;
    color: #f2f2f2;
    padding: 1em;
     }
     
    .footerLinks p {padding-bottom: 1em;
     }
    
    .webAcc {padding-left: 2em;
     padding-bottom: 1em;
     }
     
     .webAcc img {
     height: 100px;
     text-align: center;
    }
     
    .footerLinks {text-align: center;
     }
    .socialMedia { padding-top: 1em;
     }
    
    
       .fa-facebook {
          background: #3B5998;
          color: white;
        }

        .fa-twitter {
          background: #55ACEE;
          color: white;
        }
        .fa-instagram {
          background: #125688;
          color: white;
        }
        .fa-youtube {
          background: #bb0000;
          color: white;
        }
      .fa {border-radius: 0.5em;
          padding: 20px ;
          font-size: 20px;
          width: 40px;
          text-align: center;
          text-decoration: none;
        }
     
        .topnav a.icon {
            display: none;
        }
     
      /*positioning of elements*/
        
     #logo {grid-column: 1/2;}
     .topnav{grid-column: 2/4;}
     .title {grid-column: 1/4;}
     

     
     .webAcc {grid-column: 1/2;}
     .footerLinks {grid-column: 2/4;}
     .socialMedia {grid-column: 4/5;}
        
    