    
    body {font-family: Calibri, sans-serif;}
     
    .header-container {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/heroImage.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 300px;
    }
     
    #logo {grid-column: 1/2;
    float: left;
    position: relative;
    margin: 10px 15px 15px 10px;}
    
    .topnav {
    overflow: hidden;
        grid-column: 2/4; 
   }

     
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
    
    .topnav a.active {
        background-color: #BF7AB4;
        color: white;
    }
    
    
    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
     }  
    
    .topnav .icon {
        display: none;
    }
    .title {
    text-align: center;
    color: #f2f2f2;
    padding-top: 3em;
    font-size: 4em;
    
    }
     
     .title, h1, h2, h3 {
    font-family: 'Space Mono', monospace; 
     }
    
   
     
     #searchbarTextbox {display: block;
            float: right;
            padding: 6px;
            border: none;
            margin-top: 8px;
            margin-right: 16px;
            font-size: 17px;
        }
     
     .searchbar button {
         float: right;
         
         margin-top: 8px;
         margin-right: 16px;
        font-size: 17px;
        border: none;
        cursor: pointer;
         background-color: #BF7AB4;
         color: #f2f2f2;
     }
     
    .searchbar:hover {
        background: #ccc;
        }

     
    
    .main {display: grid;
        margin: auto;
        text-align: center;
        justify-content: center;}
    
    
    .mission {padding: 4em;
    text-align: center;
    padding-top: 50px;}
    
    .mission h1, .explore h1  {color: #731A6D}
     .mission p {text-align: left;}
    
    .image2Space { 
    background-image: url(images/universe-g89823a04c_1920.jpg);
    text-align: center;
    padding: 10em;
    }
    
    
    .explore {padding: 4em;
    text-align: center;}
    
    .explore h1 {font-size: 3em;}
    
    .space {padding: 2em;}
    
    h3 {color: #731A6D;}
     
      

    .card1, .card2, .card3, .card4 {box-shadow: 0 0 1em #000019;
    margin: 2em;
   
    padding: 2em;   
    max-width:85%;
    max-height: 85%;
    grid-row-gap: 4em;
     background-color: #f2f2f2;
     text-align: left;}
 
    
    .card1 img, .card2 img, .card3 img, .card4 img {
    display: block;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
     }
    
   .cta {display: inline;
    background-color: #0C3B73;
    color: #f2f2f2;
    border-radius: 0.5em;
     }
     
     .footer {display: grid;
        margin: auto;
        text-align: center;
        justify-content: center;
     }
     
    .webAcc, .footerLinks, .socialMedia {background-color: #030526;
    color: #f2f2f2;
   }
    .footerLinks a {display: inline;
    text-decoration: none;
    color: #f2f2f2;
    padding: 1em;}
    .footerLinks p {padding-bottom: 1em;}
    
    .webAcc {padding-left: 2em;
     padding-bottom: 1em;}
     
     .webAcc img {
     height: 100px;
     text-align: center;
    }
     
    .footerLinks {text-align: center;}
    .socialMedia { padding-top: 1em;}
    
    
     .fa-facebook {
          background: #3B5998;
          color: white;
        }

        .fa-twitter {
          background: #55ACEE;
          color: white;
        }
        .fa-instagram {
          background: #125688;
          color: white;
        }
        .fa-youtube {
          background: #bb0000;
          color: white;
        }
      .fa {border-radius: 0.5em;
          padding: 20px;
          font-size: 20px;
          width: 40px;
          text-align: center;
          text-decoration: none;
        }
     
    
   
    
    /*mobile*/
    @media only screen and (min-width: 0px){
        
        
        .topnav a:not(:first-child) {display: none;}
        .topnav active {display: none;}
    
        .topnav a.icon {
            float: right;
            display: block;
        }
        
        .topnav.responsive {position: relative;}
        
        .topnav.responsive a.icon {
            position: absolute;
            right: 0;
            top: 0;
        }
        
        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
        
            
    
    .searchbar {display: none;}
        
    .header-container {display: grid;
        grid-template-columns: 50% 50%;
        margin: auto;}
        
     #logo {grid-column: 1/2;}
     .topnav{grid-column: 2/3;}
     .title {grid-column: 1/3;}
     
     .main {
         grid-template-columns: 50% 50%;}
     
     .mission {grid-column: 1/3;}
     
     .image2Space {grid-column: 1/3;}
     
     .explore {grid-column: 1/3;}
     
     .card1 {grid-column: 1/3;
        margin-bottom: 2em;}
     .card2 {grid-column: 1/3;
        margin-bottom: 2em;}
     .card3 {grid-column: 1/3;
        margin-bottom: 2em;}
     .card4 {grid-column: 1/3;
        margin-bottom: 2em;}
     
        .footer{
         grid-template-columns: 50% 50%;}
    
     .webAcc {grid-column: 1/3;}
     .footerLinks {grid-column: 1/3;}
     .socialMedia {grid-column: 1/3;}
     
     
     }
    
        
          
    
    
    /*tablet*/
    @media only screen and (min-width: 600px){
        
    .searchbar {display: none;}
        
    .header-container {display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;}
        
     
     #logo {grid-column: 1/2;}
     .topnav{grid-column: 2/4;}
     .title {grid-column: 1/4;}
     
     .main {grid-template-columns: 25% 25% 25% 25%;
        margin: auto;}
     
     .mission {grid-column: 1/5;}
     
     .image2Space {grid-column: 1/5;}
     
     .explore {grid-column: 1/5;}
     
     .card1 {grid-column: 1/3;}
     .card2 {grid-column: 3/5;}
     .card3 {grid-column: 1/3;}
     .card4 {grid-column: 3/5;}
        
    
     .footer {grid-template-columns: 25% 25% 25% 25%;
        margin: auto;}
     .webAcc {grid-column: 1/2;}
     .footerLinks {grid-column: 2/4;}
     .socialMedia {grid-column: 4/5;}  
     }
        
    
    /*desktop*/
    
    @media only screen and (min-width: 1100px){
        
        .searchbar {display: block;}
        
      
        
        .topnav a:not(:first-child) {display: block;}
        
        .topnav a.icon {
            float: right;
            display: none;
        }
        
        
        .header-container {display: grid;
     grid-template-columns: 25% 50% 25%;}
        
     
     
     #logo {grid-column: 1/2;}
     .topnav{grid-column: 2/4;
        float: left;}
     .title {grid-column: 1/4;}
     
     .main {grid-template-columns: 25% 25% 25% 25%;}
     
     .mission {grid-column: 1/5;}
     
     .image2Space {grid-column: 1/5;}
     
     .explore {grid-column: 1/5;}
     
     .card1 {grid-column: 1/2;}
     .card2 {grid-column: 2/3;}
     .card3 {grid-column: 3/4;}
     .card4 {grid-column: 4/5;}
        
        .footer {grid-template-columns: 25% 25% 25% 25%;}
     
     .webAcc {grid-column: 1/2;}
     .footerLinks {grid-column: 2/4;}
     .socialMedia {grid-column: 4/5;}
        
        
        }
    
    
   